{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1>Ajouter des clients</h1>
            </div>

            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}


            <a href=" {{ path('Customer') }}">Liste des clients</a>
            
        </div>
    </div>
{% endblock %}

{% block stylesheets %}

{% endblock %}
