{% extends 'base.html.twig' %}

{% block body %}
<div id="wrapper">
    <div id="container">


    <h1>Création de Compte</h1>


<div class="card mx-auto" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Création de compte</h5>
    

         {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}

    
  </div>
</div>


    </div>
</div>
{% endblock %}

{% block stylesheets %}

{% endblock %}
