{% extends 'base.html.twig' %}

{% block body %}
    <h1>export</h1>

    <div class="card" >
        <div class="card-body">
            <h5 class="card-title">Export</h5>
            <h6 class="card-subtitle mb-2 text-muted">Fichiers CSV</h6>
            <p class="card-text">Cliquez sur le lien ci-dessous pour télécharger vos donnéees</p>
            <a class="p-5" href="{{ lien }}">Export des Clients</a>
        </div>
    </div>




{% endblock %}
