{% extends 'base.html.twig' %}

{% block body %}
<div id="wrapper">
    <div id="container">


    <h1>Tableau de bord</h1>

<div class="row">

    <div class="col-6">
        <div class="card  text-white bg-primary" >

            <div class="card-body">
                <h5 class="card-title">Nombre de client dans Symply-CRM</h5>
                <p class="card-text">{{ nbreClient }} clients</p>
            </div>
        </div>

    </div>

    <div class="col-6">
        <div class="card text-white bg-success">

            <div class="card-body  ">
                <h5 class="card-title">Nombre de taches dans Symply-CRM</h5>
                <p class="card-text" > {{ nbreTask }} taches</p>

                {% for key, nbreTask in nbreTaskEtat %}
                <p class="card-text" > {{ nbreTask }} taches dans l'état :: {{ key }}</p>
                {% endfor %}
            </div>
        </div>


    </div>

</div>


</div>
</div>
{% endblock %}

{% block stylesheets %}

{% endblock %}
