# To get started with security, check out the documentation:
# https://symfony.com/doc/current/security.html
security:
    encoders:
        AppBundle\Entity\User: bcrypt

    # https://symfony.com/doc/current/security.html#b-configuring-how-users-are-loaded
    providers:
        our_db_provider:
            entity:
                class: AppBundle:User
                property: username

        # in_memory:
        #   memory:
        #        users:
        #            admin:
        #                password: admin
        #                roles: 'ROLE_USER'

    firewalls:
        # disables authentication for assets and the profiler, adapt it according to your needs
       
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false

        main:
            anonymous: ~

            pattern:    ^/
            http_basic: ~
            provider: our_db_provider

            form_login:
                login_path: /login
                check_path: /login
                default_target_path: homepage
            logout:
                path: /logout
                target: /login
        default:
            anonymous: ~
            http_basic: ~
        
       

    access_control:
            # require ROLE_ADMIN for /admin*
        - { path: ^/simply/, roles: ROLE_USER }

